version: '3.2'

networks:
  network1:
    external: true

services:

  srm-dex-fe:
    container_name: srm-dex-fe-{{ server }}
    image: "{{ image_name }}"
    restart: always
    # entrypoint:
    #   - /bin/sh
    #   - -c
    #   - sleep 10000
    networks:
      - network1
